/*esto es el encabezado*/

header {
  width: 100%;
  text-align: center;

}

h1 {

  color: blue;
  text-align: center;

}



/*Esto es para el menú vertical*/
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
}


/*esto es para que el menú aparezca oculto*/

.hidden {
  display: none;
}


/*Estilos normales tamaño de letras secciones*/

section#html p {

  font-size: 13px;

}

section#sql p {

  font-size: 20px;
  
   color: blue;

}

 section#powerbi p {

  font-size: 13px;

}
section#excel p {

 font-size: 13px;

}


/*Genera que todas las secciones el texto  sea parejo en altura y ancho*/

section p {
  height: 1.5em; /* altura fija de los párrafos */
  line-height: 1.5em; /* altura de línea igual a la altura de los párrafos */
}

section p {
  max-width: 600px; /* ancho máximo del párrafo */
  
}



section p {
  text-indent: 40px; /* ajusta la cantidad de espacio a tu preferencia */
}


/*Esto es el formato de la caja textarea de nombre codigo*/


#codigo {
  width: 400px;
  height: 400px; 
  font-size: 15px;
  font-family: Arial, sans-serif;
  border: 2px solid blue;
  resize: none; /* agregamos la propiedad para desactivar la redimensión */
  /* otros estilos */
}



#codigodos {
  width: 400px;
  height: 400px;
  font-size: 15px;
  font-family: Arial, sans-serif;
  border: 2px solid blue;
  user-select: all; /* permite seleccionar el contenido */
  resize: none; /* desactiva la redimensión */
  opacity: 0.5; /* opcional: reduce la opacidad para indicar que el contenido no es editable */
  readonly: true; /* hace que el contenido sea solo de lectura */
  
}

  





/*Tamaños de letra se sección sql*/


ol {
  font-size: 12px;
  max-width: 600px;
  width: 80%;
  counter-reset: lista 0 150;
}

/*Controlador de  color rojo before punto y coma y after comillas  sección sql*/
/* Es decir una vez termine comillas pero después de un punto y coma se marcará color rojo*/


#mysql li {
  font-size: 16px;
  line-height: 1.5;
}

#mysql li::after {
  content: "";
}

#mysql li::before {
  content: attr(data-before);
  color: black;
padding-left: 20px;

}

#mysql li[data-before$=";"]::after {
  content: attr(data-after);
  color: red;
}


