/*esto es el encabezado*/

header {
  width: 100%;
  text-align: center;

}

h1 {

  color: blue;
  text-align: center;

}



/*Esto es para el menú vertical*/
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
}


/*esto es para que el menú aparezca oculto*/

.hidden {
  display: none;
}


/*Estilos normales tamaño de letras secciones*/

section#html p {

  font-size: 13px;

}

section#sql p {

  font-size: 13px;

}

 section#powerbi p {

  font-size: 13px;

}
section#excel p {

  font-size: 13px;

}


/*Genera que todas las secciones el texto  sea parejo en altura y ancho*/

section p {
  height: 1.5em; /* altura fija de los párrafos */
  line-height: 1.5em; /* altura de línea igual a la altura de los párrafos */
}

section p {
  max-width: 600px; /* ancho máximo del párrafo */
  
}



section p {
  text-indent: 40px; /* ajusta la cantidad de espacio a tu preferencia */
}


/*Esto es el formato de la caja textarea de nombre codigo*/


#codigo {
  width: 350px;
  height: 200px; 
  font-size: 15px;
  font-family: Arial, sans-serif;
  border: 2px solid blue;
  resize: none; /* agregamos la propiedad para desactivar la redimensión */
  /* otros estilos */
}


 


